.chat{
   flex: .7;
   flex-grow: 1; 
   padding-bottom: 40px;
   height: 80%;
   overflow-y: scroll;
}
.chat__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
.chat__channel-name{
    text-transform: lowercase;
    display: flex;
    align-items: center;
}
.chat__channel-name > .MuiSvgIcon-root{
    margin-left: 10px !important;
    font-size: 18px;
}
.chat__header-right > p {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.chat__header-right > p > .MuiSvgIcon-root{
    margin-top: 2px !important;
    margin-right: 5px !important;
    font-size: 17px;

}